.search-autocomplete {
  position: relative;
}

.autocomplete,
.autocomplete-active {
  display: none;
}

.autocomplete-active {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.719);
  backdrop-filter: blur(16px);
  left: 0;
  width: 100%;
  display: flex;
  height: fit-content;
  max-height: 50vh;
  overflow: scroll;
  overflow-x: hidden;
  flex-direction: column;
  align-items: flex-start;
  gap: 2vh;
  padding-top: 3vh;
  padding-left: 2vw;
  padding-right: 2vw;
  z-index: 999;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.226);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.autocomplete-active > a {
  width: 100%;
}

.search-image {
  height: 9vh;
  width: 6vw;
  object-fit: scale-down;
  mix-blend-mode: multiply;
  justify-self: flex-start;
}

.search-option {
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 2vw;
  justify-self: flex-start;
  width: 100%;
  border-bottom: 1px solid lightgray;
  padding-bottom: 0.4rem;
  font-size: 1.15rem;
}

@media screen and (max-width: 900px) {
  .search-option {
    font-size: 0.8rem;
    padding-left:2vw;
    padding-right:2vw;
  }

  .search-image{
    height:8vh;
    width:12vw;
  }

  .autocomplete-active{
    padding-top:2.5vh;
    padding-left:1vw;
    padding-right:3vw;
  }
}
