.cards{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
  gap:2rem;
  align-items: center;
  justify-content: center;
  place-content: center;
}

.card{
  padding:1rem;
  width:100%;
  height: auto;
  height: 22rem;
  background-color: rgba(255,255,255);
  border: none;
  cursor:pointer;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-radius: 1rem;
  transition: all 0.15s;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.card:hover{
  transform: scale(1.01);
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card  img{
  height:12rem;
  width: 10rem;
  object-fit: contain;
}

.card > p{
  font-size: medium;
  line-height: 1.5rem;
}

@media screen and (max-width:770px){
  .cards{
    display: grid;
    grid-template-columns: repeat(2,minmax(180px,1fr));
    gap:20px;
  }

  .card img{
    height:8rem;
    width:8rem;
  }

  .card{
    gap:14px;
  }

  .card > p{
    font-size: small;
  }
}