.cart,.empty-cart{
  padding:2rem;
  flex: 1;
}

.empty-cart{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.cart-items{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
  gap:2rem;
  padding-top:1rem;
  margin-bottom: 2rem;
}

.cart-item-quantity{
  display: flex;
  gap:0.7rem;
  align-items: center;
  justify-content: center;
}


.checkout-button{
  display: flex;
  align-items: center;
  justify-content: center;
}