.error-wrapper{
  min-height: 100vh;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.error{
  text-align: center;
}

.error  a{
  color: blue;
  font-size: x-large;
}

.error-links{
  display: flex;
  justify-content: center;
  align-items: center;
  gap:2vw;
  margin-top: 1vh;
}