.footer {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  align-items: center;
  background-color: black;
  color: white;
  padding: 4rem;
  height: auto;
}

.footer-logo {
  height: 4rem;
}

.site-info {
  width: 40vw;
  max-width: 500px;
}

.links {
  display: grid;
  grid-template-columns: 100px 100px;
  gap:10px;
  place-content: center;
}

.shop-links {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  text-align: center;
}

.categories {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}

.other-links {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 0.7rem;
}

.links a {
  color: white;
}

@media screen and (min-width: 480px) {
  .footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 3rem;
    align-items: center;
    background-color: black;
    color: white;
    padding: 4rem;
    height: auto;
  }

  .links {
    display: flex;
    gap: 4rem;
    flex-wrap: wrap;
  }
}
