.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap:3rem;
  padding:1rem;
  min-width: 100vw;
  position: fixed;
  top: 0;
  z-index: 999;
  background-color: white;
}

.logo{
  height:3rem;
}

.search{
  height: 2.5rem;
  display: flex;
  flex: 1;
  width:40vw;
  position: relative;
}

.search-bar{
  height: 100%;
  flex: 1;
  width:100%;
  padding:1rem;
  font-size: medium;
  outline: none;
}

.search-button{
  width: 2rem;
  position:absolute;
  height: 90%;
  right: 1%;
  border: none;
  background-color: rgba(255,255,255,0);
  bottom:1%;
  cursor: pointer;
}

.navbar{
  display: flex;
  gap:3rem;
  align-self:center;
  justify-self: flex-end;
  padding-right:1rem;
  align-items: center;
}

.navbar-cart{
  display: flex;
  justify-content: center;
  align-items: center;
  gap:0.4rem;
}
.cart-size{
  font-weight: bold;
  font-size: large;
  padding:0.3rem;
  border-radius:50%;
}

a{
  color: black;
  text-decoration: none;
  font-size: large;
}

a:hover{
  color: rgb(123, 25, 25);
}

.sidebar{
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width:260px;
  z-index:999;
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: -10px 0 10px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding:1.7rem;
  gap:2rem;
  backdrop-filter: blur(15px);
  display: none;
}

.sidebar a{
  width: 100%;
  display: flex;
  gap:10px;
  align-items: center;
}

@media screen and (max-width:770px){
  .hideOnMobile{
    display: none;
  }

  .logo{
    width:28vw;
    height: 100%;
  }

  .search{
    padding: 0.3rem;
  }

  .search-bar{
    padding:0.8rem;
    height: 100%;
    font-size: small;
  }
}

@media screen and (min-width:770px){
  .hideOnDesktop{
    display: none;
  }
}

.open-sidebar{
  margin-right:0.7rem;
  background-color: white;
  border: none;
  cursor: pointer;
}

.close-sidebar{
  background-color: rgba(255,255,255,0);
  border: none;
  cursor: pointer;
}