.loading-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading{
  height:50px;
  width:50px;
  border-radius: 50%;
  border: 5px solid #ccc;
  border-top-color: #000;
  animation: spin 1s linear infinite;
}

@keyframes spin{
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}