.shop {
  display: grid;
  grid-template-columns: 0.2fr 1fr;
  padding: 2rem;
  gap: 2rem;
  flex: 1;
  min-height: 100vh;
}

.categories-wrapper {
  justify-items: center;
  border-right: 1px solid lightgray;
  width: 100%;
  padding-right: 1rem;
}

.categories-wrapper > h2 {
  margin-bottom: 1rem;
}

.active {
  color: rgb(160, 35, 35);
}

.categories-wrapper > p{
  font-weight: bold;
  font-size: x-large;
  margin-bottom: 1rem;
}

.category-sortbyprice {
  display: flex;
  justify-content: space-between;
  padding-bottom: 2rem;
}

.sort {
  outline: none;
  cursor: pointer;
  border: 1px solid lightgray;
  padding: 0.3rem;
  font-size: 14px;
  border-radius: 5px;
}

.category-name {
  font-weight: bold;
  font-size: xx-large;
}

@media screen and (max-width: 770px) {
  .shop {
    display: flex;
    flex-direction: column;
    padding-top:1rem;
  }

  .categories-wrapper {
    align-items: center;
    justify-content: center;
    border: none;
    border-bottom: 1px solid lightgray;
    display: flex;
    flex-direction: column;
    padding:0;
  }

  .categories {
    display: flex;
    align-items: center;
    width: 100%;
    
    padding-bottom: 1rem;
    
  }

  .categories  p{
    font-size: medium;
  }

  .categories-wrapper > p{
    font-size: 20px;
  }

  .sort{
    height:fit-content;
    font-size: small;

  }

  .category-name {
    font-weight: bold;
    font-size: large;
  }
  
}
